html, body{
	height : 100%;
	width : 100%;
	margin : 0;
	padding : 0;
}

*{
	position : relative;
}

div{
	padding : 0;
	margin : 0;
	border : 0;
}

#information{
	height : 33%;
	position : relative;
}

#streetview {
	position : absolute;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
}

#road{
	background-image : url(../assets/img/asphalt.png);
	background-repeat : repeat-y;
	height : 67%;
}

#road > div{
	display : inline-block;
}

#foot-left, #foot-right{
	width : 47%;
	height : 100%;
}